<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Steely Dan Songs</h1>
        <ul>
            <%for(let i=0;i<allSongs.length;i++){%>
                <li>
                <%=allSongs[i].name%>
                </li>
            <%}%>
        </ul>
    </body>
</html>