<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Steely Dan Song</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/rikkiDontLooseThatNumber" method="POST">
            <label>Name:  </label><input type="text" name="name" /><br/>
            <label>Length: </label><input type="text" name="length" /><br/>
            <label>Album: </label><input type="text" name="album" /><br/>
            <label>Studio Musicians: </label><input type="text" name="studioMusicians" /><br/>
            <label>Rocks: </label><input type="checkbox" name="rocks" /><br/>
            <input type="submit" name="" value="Create Song"/>
        </form>
    </body>
</html>